# Docker 配置
# DOCKER_HUB_USER=enzochang  # 替換為你的 Docker Hub 帳號

# RabbitMQ 配置
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672

# Celery Worker 配置  
WORKER_USERNAME=worker
WORKER_PASSWORD=worker

# MySQL 配置
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=1234
MYSQL_ROOT_PASSWORD=1234

# Airflow 配置
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASS=admin

# Metabase 配置
MB_DB_USER=metabase
MB_DB_PASS=metabase

# GCP 配置
GCP_PROJECT_ID=your-project-id
